PORT=3000
NODE_ENV=development

DATABASE_URL=postgres://fiapx:fiapx@localhost:5432/fiapx

RABBITMQ_URL=amqp://fiapx:fiapx@localhost:5672

REDIS_URL=redis://localhost:6379

S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=fiapx
S3_REGION=us-east-1

JWT_SECRET=change-me
JWT_EXPIRES_IN=15m

CHUNK_SECONDS=10
MAX_CHUNKS=100

MAX_VIDEO_SIZE_BYTES=104857600
DOWNLOAD_URL_TTL_SECONDS=300

SMTP_HOST=localhost
SMTP_PORT=1025
