NODE_ENV=development
APP_PORT=3000
API_HOST_PORT=3000
DATABASE_POOL_MAX=10
DATABASE_URL=postgresql://fiapx:fiapx@127.0.0.1:5432/fiapx
FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
FIREBASE_AUTH_HOST_PORT=9099
FIREBASE_PROJECT_ID=demo-fiapx
